<form  *ngIf="arrest" name="editForm" (ngSubmit)="confirm()" [formGroup]="editForm">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="arrestControlApp.arrest.noFine.title">Confirm delete operation</h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="cancel()">&times;</button>
    </div>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="arrestControlApp.arrest.description" for="field_stateDescription">Description</label>
                    <input type="text" class="form-control" name="stateDescription" id="field_stateDescription"
                           formControlName="stateDescription"/>
                    <div *ngIf="editForm.get('stateDescription')!.invalid && (editForm.get('stateDescription')!.dirty || editForm.get('stateDescription')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('stateDescription')?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('stateDescription')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                            This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button id="jhi-confirm-arrest" type="submit" class="btn btn-info" [disabled]="editForm.invalid" >
            <span jhiTranslate="entity.action.confirm">Confirm</span>
        </button>
    </div>
</form>
